@{
    ViewBag.Title = "Resultado da Operação";
}

<!DOCTYPE html>
<html>
    <head>
            <meta name="viewport" content="width=device-width" />
            <title>@ViewBag.Title</title>
            <link href="~/css/resultado.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="cont">   
            <div id="center">           
                <h2>Resultado da Operação</h2>

                <p>O resultado da @ViewBag.Operacao é: @ViewBag.Resultado</p>
            </div>
    </div>
    </body>
</html>